html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, Arial;
  height: 100vh;
  overflow-x: hidden;
  
}

p {
  margin: 0;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  position: fixed;
  top: 0px;
  background-color: white;
  align-items: center;
  justify-content: center;
  z-index: 3;
  box-shadow: 1px 1px 8px lightgray;
}
.home, .about, .projects, .contact {
  background: none;
  border: none;
  font-family: Roboto, Arial;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.home:hover {
  color: rgb(2, 158, 248);
}

.about:hover {
  color: rgb(2, 158, 248);
}

.projects:hover {
  color: rgb(2, 158, 248);
}

.contact:hover {
  color: rgb(2, 158, 248);
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  width: 72px;
  z-index: 100;
  height: 100%;
}

.linkedin {
  
  top: 70px;
  right: 10px;
  cursor: pointer
}

.linkedin-size {
  width: 60px;
}

.insta {
  
  top: 130px;
  right: 10px;
  cursor: pointer
}
.insta-size {
  width: 60px;
}

.github {
  
  top: 190px;
  right: 10px;
  cursor: pointer;
}
.github-size {
  width: 60px;
}

.My-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background:rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 2px 6px rgb(209, 209, 209);
  margin-bottom: 100px;
  
}

#home {
  width: 100%;
  height: 900px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.name {
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 30px;
}

.description {
  color: black;
  font-weight: 500;
  text-align: center;
}

.line1 {
  margin-bottom: 6px;
}



.cool-stuff {
  font-family: Roboto, Arial;
  font-weight: 600;
  color: white;
  font-size: 15px;
  background-color: rgb(2, 158, 248);
  color: white;   
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin-top: 45px;
}

.cool-stuff:hover {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 17px;
  padding-bottom: 15px;
  box-shadow: 0px 0px 5px rgba(43, 43, 43, 0.5);
  margin-top: 38px;
  font-size: 18px;
  transition: 0.15s;
}

.background {
  z-index: 1;
  height: 100%;
  width: 100%;
  object-fit: contain;

}

#about {
  background-image: linear-gradient(white, rgb(230, 230, 230));
  width: 100%;
  height: 900px;
  width: 100%;
  height: 900px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80px;
  position: absolute;
  top: 50px;
}

#about-header-text{
  font-weight: bolder;
  font-size: 40px;
}

#about-container{
  display: flex;
  width: 100%;
  height: 70%;
  flex-direction: row;
}

#about-me{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

#my-skills{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

#about-me-header{
  height: 60px;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#about-me-content{
  display: flex;
  flex: 1;
  justify-content: center;
}

#about-me-content-text{
  font-size: 18px;
  line-height: 30px;
  width: 60%;
  height: 70%;
  overflow-wrap: break-word;
  color: rgb(77, 77, 77);
}

#my-skills-header{
  height: 60px;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#my-skills-content{
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: center;
}

#my-skills-content-buttons{
  width: 60%;
  height: 70%;
  overflow-wrap: break-word;
}

#my-skills-button{
  font-family: Roboto, Arial;
  font-weight: 600;
  color: white;
  font-size: 15px;
  background-color: rgb(2, 158, 248);
  color: white;   
  border: none;
  margin-right: 12px;
  margin-bottom: 12px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#projects {
  background-image: linear-gradient(rgb(230, 230, 230), white);
  width: 100%;
  height: 900px;
  width: 100%;
  height: 1900px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80px;
  position: absolute;
  top: 50px;
}

#projects-header-text {
  font-weight: bolder;
  font-size: 40px;
}

#project-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-top: 300px;
}

#project-examples {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
}

#project-image-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
}

#image-border{
  width: 585px;
  height: 285px;
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
  position: relative;
  box-shadow: 1px 2px 6px rgb(92, 92, 92);
  z-index: 1;
}


#project-image{
  width: 580px;
  height: 280px;
  position: absolute;
  background-size: cover;
  border-radius: 4px;
  z-index: 2;
  pointer-events: none;
}


#project-description-container{
  width: 100%;
  display: flex;
  align-items: center;
  min-width: 50%;
}

::-webkit-scrollbar{
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
}


::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 4px;
}


#project-description{
  font-size: 18px;
  line-height: 30px;
  height: 70%;
  width: 50%;
  overflow-wrap: break-word;
  color: rgb(77, 77, 77);
}

#contact {
  width: 100%;
  height: 900px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-image {
  width: 100%;
  height: 100%;
}


#contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  position: absolute;
  top: 50px;
}

#contact-header-text {
  font-weight: bolder;
  font-size: 40px;
  top: 30px;
  margin: 0;
}


#contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 600px;
  width: 700px;
  background:rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 1px 2px 6px rgb(209, 209, 209);
}

#email-form {
  height: 550px;
  width: 650px;
}

.contact-form-label{
  margin-bottom: 8px;
}

.contact-form-input{
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: rgb(230, 230, 230);
  font-family: Roboto, Arial;
  resize: none;
  overflow-y: scroll;
  outline: none;
}

#button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

#submit-button {
  font-family: Roboto, Arial;
  font-weight: 600;
  color: white;
  font-size: 25px;
  background-color: rgb(2, 158, 248);
  color: white;   
  border: none;
  padding: 15px 80px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#submit-button:hover {
  padding: 17px 82px;
  box-shadow: 0px 0px 5px rgba(43, 43, 43, 0.5);
  font-size: 28px;
  transition: 0.15s;
}

@media screen and (max-width: 1000px){
  

  #project-examples{
    flex-direction: column;
    height: 800px;
  }

  #project-description-container {
    height: 200px;
    justify-content: center;
  }

  #project-description{
    width: 500px;
  }

  #projects{
    height: 2200px;
  }

  #about{
    height: 1100px;
  }

  body{
    width: 100vw;
  }

  #project-image-container {
    margin: 0;
  }

  #contact-form-container {
    width: 450px;
    height: 550px;
  }

  #email-form {
  height: 400px;
  width: 350px;
}


}